<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom fixed-top shadow-lg">
    <div class="container-fluid"> 
        <a class="navbar-brand text-uppercase" aria-current="page" asp-controller="Home" asp-action="Index">
            <img src="~/buildings.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            дом 5/1
        </a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto    ">
                <li class="nav-item me-4">
                    <a class="nav-link small" aria-current="page" href="/протоколыВстреч">Протоколы встреч с упровляющей организацией</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link small" aria-current="page" href="/инициативы">Инициативы</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link small" aria-current="page" href="/реестрОбращенийЖителей">Реестр обращений жителей</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link small" aria-current="page" href="/контакты">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>