<div class="mb-3">
    <label for="exampleFormControlInputEmail" class="form-label fw-bold">Email</label>
    <input type="text" class="form-control" id="exampleFormControlInputEmail" name="Email" />
    <div id="EmailHelp" class="form-text text-black-50">* Не обязательно</div>
</div>
<div class="mb-3">
    <label for="exampleFormControlInputPhoneNum" class="form-label fw-bold">Номер телефона</label>
    <input type="text" class="form-control" id="exampleFormControlInputPhoneNum" name="PhoneNumber" />
    <div id="PhoneNumHelp" class="form-text text-black-50">* Не обязательно</div>
</div>
<div class="mb-3">
    <label for="exampleFormControlInputAuthor" class="form-label fw-bold">От кого</label>
    <input type="text" class="form-control" id="exampleFormControlInputAuthor" name="Author" />
    <div id="AuthorHelp" class="form-text text-black-50">* Не обязательно</div>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label fw-bold">Тема</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="Title"></textarea>
</div>
<label for="exampleFormControlTextarea13" class="form-label fw-bold">Содержание</label>

<input type="hidden" id="exampleFormControlInputArticle" name="Article" />
